<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ichigo | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>ICHIGO</header>
    
    <main>
        <div class="upload-box">
            <h2>Classify the Fruit!</h2>
            
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="file" accept="image/*" onchange="validateFile()">
                <label for="fileInput">Drop the image file here or Click to upload</label>
                <p>DISCLAIMER: This system can only classify fruits such as apple, banana, etc.</p>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>