<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ichigo | Home</title>
    <link rel="icon" href="{{ url_for('static', filename='img/ichigo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>ICHIGO</header>
    
    <main>
        <div class="upload-box">
            <form action="/result" method="POST" enctype="multipart/form-data">
                <div class="upload-section">
                    <input type="file" id="fileInput" name="file" accept="image/*" hidden>
                    
                    <label for="fileInput" id="dropZone">
                        <div>
                            <h2>Classify the Fruit!</h2>
                            
                            <p>Drop image here or click to upload</p>
                        </div>
                    </label>
                </div>
            </form>
            
            <div class="disclaimer-box">
                <p>DISCLAIMER: This system can only classify fruits such as apple, banana, orange, grape, guava, jujube, pomegranate, and strawberry.</p>
            </div>
        </div>
    </main>

    <div class="loading-overlay" id="loadingOverlay">
        <div class="loading-spinner"></div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>